[submodule "spdlog"]
	path = UGame/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "UGame/Thirdparty/GLFW"]
	path = UGame/Thirdparty/GLFW
	url = https://github.com/glfw/glfw.git
