[submodule "spdlog"]
	path = UGame/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git

[submodule "UGame/ThirdParty/GLFW"]
	path = UGame/ThirdParty/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "UGame/ThirdParty/imgui"]
	path = UGame/ThirdParty/imgui
	url = https://github.com/Mernion/imgui.git
[submodule "UGame/ThirdParty/glm"]
	path = UGame/ThirdParty/glm
	url = https://github.com/g-truc/glm.git
